.edit-modal-form {
  width: 400px;
  padding: 30px;
  background-color: var(--white);
  text-align: center;
}
.edit-modal-form h1 {
  font-size: 1.4rem;
}
.edit-form-btns {
  display: flex;
  justify-content: space-evenly;
}
.edit-form-submit {
  margin-top: 20px;
  width: 47%;
  padding: 8px 10px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.edit-form-edit {
  margin-top: 20px;
  width: 47%;
  padding: 8px 10px;
  background-color: #ff4f4f;
  color: var(--white);
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

 
